/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  margin-left: -250px;
  margin-top: -120px;
  width: 250%;
  height: 200%;
  background: url('../../../static/images/bambo.png') no-repeat center top;
  background-size: contain;
}

.container-homepage {
  overflow: hidden;
  padding-bottom: 30px;
}

.title-homepage {
  margin-top: 10px;
  margin-bottom: 20px;
}

.col-homepage {
  margin-bottom: 25px;
}

.card-homepage {
  height: 200px;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.125);
}

.link-homepage {
  & :hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-color: #6c9400;
    color: black;
  }
}

.card-img-homepage {
  height: calc(100% - 36px);
  width: auto;
  margin-left: auto;
  margin-right: auto;

  &.large {
    width: 100%;
  }
}

.card-body-homepage {
  align-items: center;
  display: flex;
  text-align: center;
  padding: 0;
  width: 200px;
  flex: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -100px;
}

.card-title-homepage {
  text-align: center;
  width: 100%;
}

.img-homepage {
  overflow: hidden;
}
